<div class="col-xs-12 col-sm-12 col-md-12" id="accountSecurityQuestions">
  <div class="accountPageContent">
    <div class="row">
      <p class="accountLimitDescription" style="margin-bottom:10px;">
        This feature is not available yet on this site. If you need help securing your account, please contact support.
      </p>
      <form id="acctSecurityQuestionsForm" method="post">
        <div class="col-xs-12 col-sm-12 col-md-12 no-padding">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label class="formLabels">Security Question</label>
            <select name="securityQuestion" class="securityQuestionSelect">
              <option value="">Select a question</option>
              <option value="What is the first and last name of your first boyfriend or girlfriend?">What is the first and last name of your first boyfriend or girlfriend?</option>
              <option value="Which phone number do you remember most from your childhood?">Which phone number do you remember most from your childhood?</option>
              <option value="What was your favorite place to visit as a child?">What was your favorite place to visit as a child?</option>
              <option value="Who is your favorite actor, musician, or artist?">Who is your favorite actor, musician, or artist?</option>
              <option value="What is the name of your favorite pet?">What is the name of your favorite pet?</option>
              <option value="In what city were you born?">In what city were you born?</option>
              <option value="What high school did you attend?">What high school did you attend?</option>
              <option value="What is the name of your first school?">What is the name of your first school?</option>
              <option value="What is your favorite movie?">What is your favorite movie?</option>
              <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
              <option value="What street did you grow up on?">What street did you grow up on?</option>
              <option value="What was the make of your first car?">What was the make of your first car?</option>
              <option value="When is your anniversary?">When is your anniversary?</option>
              <option value="What is your favorite color?">What is your favorite color?</option>
              <option value="What is your father's middle name?">What is your father's middle name?</option>
              <option value="What is the name of your first grade teacher?">What is the name of your first grade teacher?</option>
              <option value="What was your high school mascot?">What was your high school mascot?</option>
              <option value="Which is your favorite web browser?">Which is your favorite web browser?</option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <label class="formLabels">Answer for Security Question</label>
            <input name="securityAnswer" type="text" />
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
          <button class="accountSubmitButtons accountSubmitButtonInactive" id="accountSecurityQuestionsButton" disabled>Update</button>
          <p id="securityQuestionsCancel" class="accountSubmitCancel grayLink" style="display:none">Cancel</p>
        </div>
      </form>
    </div>
  </div>
</div>

