<div class="col-xs-12 col-sm-12 col-md-12 lotteryDetails">
				<div class="col-xs-12 col-sm-5 col-md-5">
					<p class="pageHeading">Play SuperEnalotto</p>
					<p>SuperEnalotto’s record jackpot of €371 million awarded on February 16, 2023 is the biggest ever European jackpot in history.</p>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-lg-3 about-us-side-image">
							<img src="/resources/images/Highlight1.svg" alt="" width="74" height="74" />
						</div>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<h3 class="sub-heading">Draws held 4x per week*</h3>
							<p>Jackpots climb quickly with rollovers possible every Tuesday, Thursday, Friday and Saturday.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-lg-3 about-us-side-image">
							<img src="/resources/images/Highlight2.svg" alt="" width="74" height="74" />
						</div>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<h3 class="sub-heading">Fantastic Prize Odds</h3>
							<p>Overall odds of winning a prize are 1 in 20.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-lg-3 about-us-side-image">
							<img src="/resources/images/Highlight3.svg" alt="" width="74" height="74" />
						</div>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<h3 class="sub-heading">Good Luck!</h3>
							<p>Our team is here to help you get in on the game and not miss this chance at a Super Jackpot!</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<p class='footnote'>* Occasionally, draw days are rescheduled to avoid being drawn on public holidays.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-7">
					<section class="accordion">
						<header>
							<span class="glyphicon glyphicon-triangle-bottom"></span>
							<div>Quick Facts</div>
						</header>
						<div class="row">
							<p class="lottoDetailHeader">SuperEnalotto Record Jackpot</p>
							<p>€371 million</p>
							<p class="lottoDetailHeader">Prizes</p>
							<p>6 lucrative prize categories</p>
							<p class="lottoDetailHeader">Draw Format</p>
							<p>6 winning numbers and a Bonus “Jolly number” are drawn from a field of 1 to 90</p>
							<p class="lottoDetailHeader">Draw Days</p>
							<p>Drawn Tuesday, Thursday, Friday and Saturday at 8pm CET in Rome, Italy</p>
							<p class="lottoDetailHeader">Cut-Off Time</p>
							<p>4 hours before draw to purchase a ticket</p>
						</div>
						<header>
							<span class="glyphicon glyphicon-triangle-bottom"></span>
							<div>6 Prize Categories</div>
						</header>
						<div class="row">
							<div class="col-xs-12 lotteryDetailOdds">
								<p>The Table below details the different prize tiers and estimated prize returns based on average payouts.</p>
								<div class="row">
									<div class="col-xs-6 lottoDetailHeader">Prize Structure</div>
									<div class="col-xs-3 lottoDetailHeader">Prize Categories</div>
									<div class="col-xs-3 lottoDetailHeader oddsAmount">Average Prize*</div>
								</div>
								<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">6 main numbers</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Jackpot</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Prize*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€231,994,682.40</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">5 main numbers + Jolly number</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Second Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€651,983.37</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">5 main numbers</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Third Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€23,670.88</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">4 main numbers</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Fourth Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€312.88</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">3 main numbers</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Fifth Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€25.93</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">2 main numbers</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Sixth Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€5.40</div>
										</div>
									</div>
								<p id="lotteryOddsNote">*based on 2022 results</p>
							</div>
						</div>
						<header>
							<span class="glyphicon glyphicon-triangle-bottom"></span>
							<div>Why Play?</div>
						</header>
						<div class="row">
							<p class="lottoDetailHeader">Play SuperEnalotto</p>
							<p>SuperEnalotto combines big jackpots with excellent prize-winning odds making it a lucrative lottery choice.</p>
							<p class="lottoDetailHeader">Super Jackpot Wins!</p>
							<p>SuperEnaLotto jackpots are consistently among the largest offered in Europe!</p>
							<p class="lottoDetailHeader">Four Draws Per Week</p>
							<p>Feel the excitement of SuperEnalotto every Tuesday, Thursday, Friday and Saturday for a chance to win fabulous prizes</p>
							<p class="lottoDetailHeader">Good Luck!</p>
							<p>The professionals at Lotto Express want to help make your Jackpot winning dream a reality!</p>
						</div>
					</section>
				</div>
			</div>
