<div id="lotteryPageCopy">
		<div class="lotteryPageCopy">
			<hr>
			<div class="col-xs-12 col-sm-12 col-md-12 lotteryPageCopyContent">
				<h2 class="pageHeading">
					Know more about Playing Australian Lotto 6/45 Online
				</h2>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-1.svg" alt="How to Play Australian Lotto Online?" width="105" height="91" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">
							How to Play Australian Lotto Online?
						</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-1.svg" class="lotteryPageCopyImgM" alt="How to Play Australian Lotto Online?" width="60" height="52" />
							To play the Australian Lottery online, all you need to do is pick 6 numbers from 1 to 45. When you buy your lottery ticket on Lotto Express, you have the option of choosing your own numbers or you can use the Quick Pick function which will randomly select your lottery ticket numbers for you. Playing the lottery with Lotto Express is exactly the same as going out to a shop to buy your ticket, without having to leave your home.
						</p>
						<p>
							The Australian Lottery is drawn once a week on a Saturday where 8 numbers will be drawn. The first 6 numbers are the winning numbers and the final 2 are supplementary numbers which are used to determine prizes in lower prize tiers.
						</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-2.svg" alt="Can you buy Australian Lottery tickets outside Australia?" width="100" height="100" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">
							Can you buy Australian Lottery tickets outside Australia?
						</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-2.svg" class="lotteryPageCopyImgM" alt="Can you buy Australian Lottery tickets outside Australia?" width="57" height="57" />
							If you want to play the Australian Lottery, but you aren't in Australia, you can buy your tickets at Lotto Express. It’s the easiest way to play, with no need to go to a retailer to purchase a ticket. You don’t even necessarily have to choose your numbers, as the Lotto Express Quick Pick system can do it for you. Save time by playing the Aus Lotto online. You’ll receive an instant confirmation email when you complete your purchase, and be notified when you win a prize.
						</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-3.svg" alt="How to claim your Auslotto prize?" width="105" height="68" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">
							How to claim your Auslotto prize?
						</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-3.svg" class="lotteryPageCopyImgM" alt="How to claim your Auslotto prize?" width="59" height="39" />
							Trying to find your lottery tickets to check it against the winning numbers is a thing of the past! With Lotto Express, all of your ticket information is stored online in your free account, as well as sent to you by email. When you win a prize, you’ll get an email confirmation of your prize fund amount. Once the winning numbers for the Australian Lottery have been verified, announced online, and after receipt of the prize from the official lottery - your prize money will be transferred directly into your account. Unlike US lotteries, Australian lotteries are not taxed.
						</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-4.svg" alt="How can you be sure to receive the Australian Lotteries prize?" width="82" height="105" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">
							How can you be sure to receive the Australian Lotteries prize?
						</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-4.svg" class="lotteryPageCopyImgM" alt="How can you be sure to receive the Australian Lotteries prize?" width="46" height="59" />
							Playing the Australian Lottery online with Lotto Express is the most secure way to play if you are outside of Australia. You are guaranteed to receive 100% of the prize that you win, as Lotto Express has no claim to your tickets (as per the <a class="tertiaryLink" href="/terms-and-conditions">Terms and Conditions</a>). Honesty is paramount and that is why you will receive notification emails at every stage of the process. The excitement of playing AusLotto online is matched with the high levels of security on Lotto Express. Frequent system updates mean that your data is kept safe. When you win a prize by playing the Aus Lottery online with Lotto Express - you can be safe in the knowledge that you’ll get paid in full.
						</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-5.svg" alt="How do you win the Australian Lotto Online?" width="100" height="100" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">
							How do you win the Australian Lotto Online?
						</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-5.svg" class="lotteryPageCopyImgM" alt="How do you win the Australian Lotto Online?" width="57" height="57" />
							You win the Australian Lotto jackpot by matching all 6 numbers of your lottery ticket to the 6 numbers pulled from the barrel in the lottery draw. The numbers can appear in any order, but as long as all 6 match - you will become an Australian Lotto millionaire!
						</p>
						<p>
							If you play the Australian Lotto with Lotto Express, you can be in with a chance of winning a prize matching as little as 3 numbers on your ticket. There are 5 prize tiers after the jackpot, ranging from 3 matching numbers to 5 numbers plus a supplementary number matching, but you’ve got to be in it to win it. Register to play now in time for Saturday's draw.
						</p>
						<p>
							The jackpot for the Australian Lotto is estimated at A$5 Million every week, and there are regular Superdraws with jackpots of A$20 Million, A$30 Million and even A$40 Million!
						</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-6.svg" alt="Why Play Australian Lotto with Lotto Express?" width="134" height="92" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">
							Why Play Australian Lotto with Lotto Express?
						</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-6.svg" class="lotteryPageCopyImgM" alt="Why Play Australian Lotto with Lotto Express?" width="76" height="52" />
							Play one of the world's largest lotteries to be in with a chance of winning incredible jackpot prizes from all around the world. Playing Auslotto online is simple and secure - not only are you able to play multiple lotteries, but you are able to subscribe to play for multiple weeks without hassles. Play today.
						</p>
					</div>
				</section>
			</div>
		</div>
	</div>
