<div class="col-xs-12 col-sm-12 col-md-12 lotteryDetails">
				<div class="col-xs-12 col-sm-5 col-md-5">
					<p class="pageHeading">
						Play Australian Lotto 6/45
					</p>
					<p>
						Play Australia's oldest national lottery of its kind! Select 6 numbers from 1-45 for a chance to win jackpots up to A$40 million!
					</p>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-lg-3 about-us-side-image">
							<img src="/resources/images/Highlight1.svg" alt="" width="74" height="74" />
						</div>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<h3 class="sub-heading">
								Make Saturday Your Lucky Day!
							</h3>
							<p>
								Drawn in Melbourne every Saturday at 8:30PM AEST… you have to be in it, to win it!
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-lg-3 about-us-side-image">
							<img src="/resources/images/Highlight2.svg" alt="" width="74" height="74" />
						</div>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<h3 class="sub-heading">
								42% Easier to Win
							</h3>
							<p>
								Due to its smaller range of numbers, it’s easier to win the jackpot compared to the standard 6/49 lotteries!
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-lg-3 about-us-side-image">
							<img src="/resources/images/Highlight3.svg" alt="" width="74" height="74" />
						</div>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<h3 class="sub-heading">
								Best of Luck!
							</h3>
							<p>
								Jackpots up for grabs start at A$5 million…and all winnings are Australian tax-free!
							</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-7">
					<section class="accordion">
						<header>
							<span class="glyphicon glyphicon-triangle-bottom"></span>
							<div>
								Quick Facts
							</div>
						</header>
						<div class="row">
							<p class="lottoDetailHeader">
								Australian Lotto 6/45 Record Jackpot
							</p>
							<p>
								A$40 Million
							</p>
							<p class="lottoDetailHeader">
								Prizes
							</p>
							<p>
								6 lucrative prize categories
							</p>
							<p class="lottoDetailHeader">
								Draw Format
							</p>
							<p>
								6 winning numbers and 2 bonus numbers are drawn from a field of 1 to 45.
							</p>
							<p class="lottoDetailHeader">
								Draw Days
							</p>
							<p>
								Every Saturday at 8:30pm AEST in Melbourne
							</p>
							<p class="lottoDetailHeader">
								Cut-Off Time
							</p>
							<p>
								18 hours before draw to purchase a ticket
							</p>
						</div>
						<header>
							<span class="glyphicon glyphicon-triangle-bottom"></span>
							<div>
								6 Prize Categories
							</div>
						</header>
						<div class="row">
							<div class="col-xs-12 lotteryDetailOdds">
								<p>
									The table below details the different prize tiers and estimated prize returns based on average payouts.
								</p>
								<div class="row">
									<div class="col-xs-6 lottoDetailHeader">
										Prize Structure
									</div>
									<div class="col-xs-3 lottoDetailHeader">
										Prize Categories
									</div>
									<div class="col-xs-3 lottoDetailHeader oddsAmount">
										Average Payout*
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Prize Structure
										</div>
										<div class="col-xs-6 col-sm-12">
											6 main numbers
										</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Prize Category
										</div>
										<div class="col-xs-6 col-sm-12">
											Jackpot
										</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Average Payout*
										</div>
										<div class="col-xs-6 col-sm-12 oddsAmount">A$1,431,237.99</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Prize Structure
										</div>
										<div class="col-xs-6 col-sm-12">
											5 main numbers + 1 bonus number
										</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Prize Category
										</div>
										<div class="col-xs-6 col-sm-12">
											Second Prize
										</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Average Payout*
										</div>
										<div class="col-xs-6 col-sm-12 oddsAmount">A$10,278.81</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Prize Structure
										</div>
										<div class="col-xs-6 col-sm-12">
											5 main numbers
										</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Prize Category
										</div>
										<div class="col-xs-6 col-sm-12">
											Third Prize
										</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Average Payout*
										</div>
										<div class="col-xs-6 col-sm-12 oddsAmount">A$839.69</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Prize Structure
										</div>
										<div class="col-xs-6 col-sm-12">
											4 main numbers
										</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Prize Category
										</div>
										<div class="col-xs-6 col-sm-12">
											Fourth Prize
										</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">
										Average Payout*
										</div>
										<div class="col-xs-6 col-sm-12 oddsAmount">A$24.75</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Prize Structure
										</div>
										<div class="col-xs-6 col-sm-12">
											3 main numbers + 1 bonus number
										</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Prize Category
										</div>
										<div class="col-xs-6 col-sm-12">
											Fifth Prize
										</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Average Payout*
										</div>
										<div class="col-xs-6 col-sm-12 oddsAmount">A$15.75</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Prize Structure
										</div>
										<div class="col-xs-6 col-sm-12">
											3 main numbers
										</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Prize Category
										</div>
										<div class="col-xs-6 col-sm-12">
											Sixth Prize
										</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">
											Average Payout*
										</div>
										<div class="col-xs-6 col-sm-12 oddsAmount">A$8.35</div>
									</div>
								</div>
								<p id="lotteryOddsNote">
									* based on 2022 results
								</p>
							</div>
						</div>
						<header>
							<span class="glyphicon glyphicon-triangle-bottom"></span>
							<div>
								Why Play?
							</div>
						</header>
						<div class="row">
							<p class="lottoDetailHeader">
								Play Australian Lotto 6/45
							</p>
							<p>
								Established in 1972, the Australian Lotto 6/45 was adopted nationwide in 2013. Choose 6 numbers out of a smaller field of 45 numbers (instead of the more common 49!) for a chance to win prizes up to A$40 Million!
							</p>
							<p class="lottoDetailHeader">
								Drawn Every Saturday Night
							</p>
							<p>
								And you only need to match the six main numbers to snag the jackpot prize…and all winnings are Australian tax-free!
							</p>
							<p class="lottoDetailHeader">
								Better Jackpot Odds
							</p>
							<p>
								The odds of winning the 6/45 jackpot are one in 8,145,060, compared to 1 in 13,983,816 for 6/49 lotteries! Overall odds of winning any prize are 1 in 42.
							</p>
							<p class="lottoDetailHeader">
								Good Luck Mate!
							</p>
							<p>
								We’re here to help you get in on the chance to win life changing prizes!
							</p>
						</div>
					</section>
				</div>
			</div>
