{# Generic fallback content for new CRM games (used when no legacy partial exists yet). #}
<div class="col-xs-12 col-sm-12 col-md-12 lotteryDetails">
  <div class="col-xs-12 col-sm-5 col-md-5">
    <p class="pageHeading">Play {{ game.game_name or game.game_code }}</p>
    <p>
      Choose your numbers (or use Quick Pick) and play securely online with Lotto Express.
    </p>
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-lg-3 about-us-side-image">
        <img src="/resources/images/Highlight1.svg" alt="" width="74" height="74" />
      </div>
      <div class="col-xs-9 col-sm-9 col-lg-9">
        <h3 class="sub-heading">Secure online play</h3>
        <p>Your entries are confirmed and stored in your account.</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-7 col-md-7">
    <section class="accordion">
      <header>
        <span class="glyphicon glyphicon-triangle-bottom"></span>
        <div>Quick Facts</div>
      </header>
      <div class="row">
        <p class="lottoDetailHeader">How it works</p>
        <p>
          Pick your numbers, select draw days, and buy tickets. Results and winnings are tracked in your account.
        </p>
      </div>
    </section>
  </div>
</div>

