<div id="lotteryPageCopy">
		<div class="lotteryPageCopy">
			<hr>
			<div class="col-xs-12 col-sm-12 col-md-12 lotteryPageCopyContent">
				<h2 class="pageHeading">Know more about Playing American Powerball Online</h2>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-1.svg" alt="How to Play Powerball Online?" width="105" height="91" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">How to Play Powerball Online?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-1.svg" class="lotteryPageCopyImgM" alt="How to Play Powerball Online?" width="60" height="52" />To play American Powerball, simply pick 5 numbers from 1-69 and 1 number from 1-26 - this is your red Powerball number. When playing online with Lotto Express, you can choose your own numbers. It could be your favourite numbers, your lucky numbers or choose Quick Pick, where numbers will be randomly assigned to your lottery ticket. It’s just like going to the store to purchase your lottery ticket, just without the hassle! You still have the same odds of winning a prize.</p>
						<p>The American Powerball draw takes place 3 times a week, giving you 3 chances to win prizes. Powerball drawings are held every Monday, Wednesday and Saturday at 23:00 ET.</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-2.svg" alt="Can you buy American Powerball tickets outside the US?" width="100" height="100" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">Can you buy American Powerball tickets outside the US?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-2.svg" class="lotteryPageCopyImgM" alt="Can you buy American Powerball tickets outside the US?" width="57" height="57" />You can buy lottery tickets for the American Powerball outside of the US if you play online with Lotto Express. When you play the lottery online, your ticket is bought from an official retailer in the US and added to your account. It’s no different than going down to the store and buying a lottery ticket yourself - just without the hassle. You’ll get an email letting you know that your purchase is complete, alongside a reminder of your chosen numbers, or the Quick Pick numbers that have been assigned to you.</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-3.svg" alt="How to claim your American Powerball prize?" width="105" height="68" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">How to claim your American Powerball prize?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-3.svg" class="lotteryPageCopyImgM" alt="How to claim your American Powerball prize?" width="59" height="39" />When playing Powerball online, you don’t need to check your tickets. When you win a prize, no matter the size, Lotto Express will send a notification directly to your email inbox to tell you that you’ve won! Your prize money will then be deposited into your account once the official lottery results have been announced online. Like other lotteries in the United States, American Powerball prizes are subject to US State and Federal Taxes.</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-4.svg" alt="How can you be sure to receive the American Powerball prize?" width="82" height="105" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">How can you be sure to receive the American Powerball prize?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-4.svg" class="lotteryPageCopyImgM" alt="How can you be sure to receive the American Powerball prize?" width="46" height="59" />Lotto Express have the highest security standards in the industry, so you can be sure that when you play American Powerball online, the lottery game is secure. Playing online with Lotto Express is exhilarating but also secure. When you play online lotteries with Lotto Express, you will receive notifications at every step. You will get email notification of ticket purchases, winning announcements and deposited funds in your account. The information is instantly available to you, and your prize fund winnings are 100% yours, as Lotto Express has no claim to your tickets as per our <a class="tertiaryLink" href="/terms-and-conditions">Terms and Conditions</a>. If you win an American Powerball prize - you are guaranteed to receive that prize in full.</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-5.svg" alt="How do you win the American Powerball Lottery Online?" width="100" height="100" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">How do you win the American Powerball Lottery Online?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-5.svg" class="lotteryPageCopyImgM" alt="How do you win the American Powerball Lottery Online?" width="57" height="57" />There are 9 ways to win when you play American Powerball with Lotto Express. If your ticket matches the 5 main numbers plus the Powerball number - you’ll be a Grand Prize winner! Though the Grand Prize jackpot differs for each draw based on ticket sales, the other prize-winning tiers are set amounts. These prizes means that you are still in with a chance of becoming an American Lottery millionaire, even if you don’t match all of the numbers in the draw. Matching the 5 main numbers, without the Powerball, you will win $1 million! If your numbers partially match, you could still win big lottery prizes.</p>
						<p>Don’t miss out! Play today to be in with a chance of winning the American Powerball.</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-6.svg" alt="Why Play American Powerball with Lotto Express?" width="134" height="92" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">Why Play American Powerball with Lotto Express?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-6.svg" class="lotteryPageCopyImgM" alt="Why Play American Powerball with Lotto Express?" width="76" height="52" />Playing online with Lotto Express is a simple and secure way to play lotteries from around the world. American Powerball is notorious for having high jackpot prizes, which you can be in with a chance of winning if you buy your tickets online. You choose which lotteries you want to play, pick your numbers (or choose the Quick Pick option) and get immediate notification of your lottery ticket purchase.</p>
					</div>
				</section>
			</div>
		</div>
	</div>
