<div id="lotteryPageCopy">
		<div class="lotteryPageCopy">
			<hr>
			<div class="col-xs-12 col-sm-12 col-md-12 lotteryPageCopyContent">
				<h2 class="pageHeading">Know more about Playing French Lotto Online</h2>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-1.svg" alt="Can you play France Lotto Online?" width="105" height="91" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">Can you play France Lotto Online?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-1.svg" class="lotteryPageCopyImgM" alt="Can you play France Lotto Online?" width="60" height="52" />You can play the France Lotto online with Lotto Express. To play, you must pick 6 numbers from two separate pools of numbers. You pick 5 different numbers from 1-49 and the final number from 1-10. You can play using your favourite numbers, or you also have the option of choosing Quick Pick where the France Lotto numbers will be chosen at random for you. Playing online is exactly the same as buying your ticket from a shop in person, with the same odds of winning a prize, which is better than 1 in 6!</p>
						<p>The France Lotto draw takes place 3 days a week - Monday, Wednesday and Saturday at 20:35 CET. Increase your chance of winning by playing in all 3 draws. You can choose French Loto numbers online for the chance to win the prizes on offer in each draw, wherever you live in the world.</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-2.svg" alt="Can you buy France Lotto tickets outside France?" width="100" height="100" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">Can you buy France Lotto tickets outside France?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-2.svg" class="lotteryPageCopyImgM" alt="Can you buy France Lotto tickets outside France?" width="57" height="57" />You can play the France Lotto from anywhere in the world by playing online at Lotto Express. The process is simple; sign up for a free account, choose the lottery that you want to play and purchase your lottery ticket. You can be part of the France Lotto draw every Monday, Wednesday and Saturday and be in with a chance of winning incredible jackpot prizes. When you purchase your French Lottery ticket online, your ticket is bought from an official retailer in France and added to your account. You are notified by email of the purchase, as well as the numbers you have chosen either by you or by the France Lotto Quick Pick option.</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-3.svg" alt="How to claim your France Lotto prize?" width="105" height="68" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">How to claim your France Lotto prize?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-3.svg" class="lotteryPageCopyImgM" alt="How to claim your France Lotto prize?" width="59" height="39" />Claiming your prize on the France Lotto is very simple when playing on Lotto Express. There is no need to check your tickets because Lotto Express will send you a notification email directly to your inbox to tell you that you’ve won! Once the official lottery announcement has been made and the prize fund released to Lotto Express, your winnings will be deposited in your secure account. Lotto Express will notify you every step of the way - from your ticket purchase to your winnings being deposited.</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-4.svg" alt="How can you be sure to receive the France Lotto prize?" width="82" height="105" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">How can you be sure to receive the France Lotto prize?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-4.svg" class="lotteryPageCopyImgM" alt="How can you be sure to receive the France Lotto prize?" width="46" height="59" />If you are not living in France and would like to play the France Lotto - online with Lotto Express is the most secure way to play. No matter how much you win, you are guaranteed to receive 100% of those winnings, as Lotto Express has no claim to your tickets (as per the <a class="tertiaryLink" href="/terms-and-conditions">Terms and Conditions</a>). Not only do Lotto Express have the highest security standards in the industry, but security requirements are exceeded and frequent system updates are made to ensure that your data is kept safe. When playing France Lotto with Lotto Express - you can be assured that you’ll get paid in full.</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-5.svg" alt="How do you win the France Lotto Online?" width="100" height="100" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">How do you win the France Lotto Online?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-5.svg" class="lotteryPageCopyImgM" alt="How do you win the France Lotto Online?" width="57" height="57" />In order to win the top French Loto prize, you must match all 5 main numbers that are drawn, as well as the ‘lucky’ number. This could make you a French Lottery millionaire! With 3 draws a week, and the ability to roll over 34 times before it reaches its cap - you’ve got multiple chances of the jackpot increasing before it is won.</p>
						<p>If you play France Lotto with Lotto Express, you can be in with a chance of winning a prize matching as little as the 1 'lucky' number on your ticket. There are ten different ways you can win a prize in France Lotto, from matching just the 'lucky' number for a €2.20 prize all the way up to matching all five main numbers plus the 'lucky' number to win the jackpot - but you’ve got to be in it to win it. Register to play the France Lotto now.</p>
						<p>The minimum guaranteed jackpot for the France Lotto is €2 million, and increases by €1 million each time it rolls over.</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-6.svg" alt="Why Play France Lotto with Lotto Express?" width="134" height="92" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">Why Play France Lotto with Lotto Express?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-6.svg" class="lotteryPageCopyImgM" alt="Why Play France Lotto with Lotto Express?" width="76" height="52" />If you are looking for a simple and secure experience when playing France Lotto online - choose Lotto Express. The ability to play one of the world’s biggest lotteries wherever you are in the world gives you the chance to win big lotto jackpots from the comfort of your own home. With up to 3 rollover opportunities each week, you’ve got more chances of winning prizes with the France Lotto.</p>
					</div>
				</section>
			</div>
		</div>
	</div>
