{# Generic fallback long-form copy for new CRM games (used when no legacy partial exists yet). #}
<div id="lotteryPageCopy">
  <div class="lotteryPageCopy">
    <hr>
    <div class="col-xs-12 col-sm-12 col-md-12 lotteryPageCopyContent">
      <h2 class="pageHeading">Know more about Playing {{ game.game_name or game.game_code }} Online</h2>
      <section>
        <div class="lotteryPageCopyImg">
          <img src="/resources/images/lotto-express-online-lottery-1.svg" alt="" width="105" height="91" />
        </div>
        <div class="lotteryPageCopyText">
          <h3 class="sub-heading">How to play online</h3>
          <p>
            <img src="/resources/images/lotto-express-online-lottery-1.svg" class="lotteryPageCopyImgM" alt="" width="60" height="52" />
            Select your numbers (or Quick Pick), choose draw days, and complete your purchase. You’ll see your tickets, results, and winnings in your account.
          </p>
        </div>
      </section>
    </div>
  </div>
</div>

