<div class="col-xs-12 col-sm-12 col-md-12 lotteryDetails">
				<div class="col-xs-12 col-sm-5 col-md-5">
					<p class="pageHeading">Play EuroMillions</p>
					<p>EuroMillions combines big jackpots with excellent prize-winning odds making it a lucrative choice to play. Choose 5 winning numbers plus 2 "Lucky Star" numbers to win prizes up to €230 Million!</p>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-lg-3 about-us-side-image">
							<img src="/resources/images/Highlight1.svg" alt="" width="74" height="74" />
						</div>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<h3 class="sub-heading">Two Draws Per Week</h3>
							<p>Feel the excitement of EuroMillions every Tuesday and Friday!</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-lg-3 about-us-side-image">
							<img src="/resources/images/Highlight2.svg" alt="" width="74" height="74" />
						</div>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<h3 class="sub-heading">Fantastic Prize Odds</h3>
							<p>Overall odds of winning any prize are better than 1 in 13!</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-lg-3 about-us-side-image">
							<img src="/resources/images/Highlight3.svg" alt="" width="74" height="74" />
						</div>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<h3 class="sub-heading">Good Luck!</h3>
							<p>Jackpots climb quickly and frequently reach over €100 Million!</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-7">
					<section class="accordion">
						<header>
							<span class="glyphicon glyphicon-triangle-bottom"></span>
							<div>Quick Facts</div>
						</header>
						<div class="row">
							<p class="lottoDetailHeader">EuroMillions Record Jackpot</p>
							<p>€230 Million</p>
							<p class="lottoDetailHeader">Prizes</p>
							<p>13 lucrative prize categories</p>
							<p class="lottoDetailHeader">Draw Format</p>
							<p>5 winning numbers are drawn from a field of 1 to 50, and 2 "Lucky Star" numbers from a separate field of 1 to 12. A separate raffle draw is held for a prize of €1 Million.</p>
							<p class="lottoDetailHeader">Draw Days</p>
							<p>Every Tuesday and Friday in Paris, France at 21:00 CET</p>
							<p class="lottoDetailHeader">Cut-Off Time</p>
							<p>6 hours before draw to purchase a ticket</p>
						</div>
						<header>
							<span class="glyphicon glyphicon-triangle-bottom"></span>
							<div>13 Prize Categories</div>
						</header>
						<div class="row">
							<div class="col-xs-12 lotteryDetailOdds">
								<p>The table below details the different prize tiers and estimated prize returns based on average payouts.</p>
								<div class="row">
									<div class="col-xs-6 lottoDetailHeader">Prize Structure</div>
									<div class="col-xs-3 lottoDetailHeader">Prize Categories</div>
									<div class="col-xs-3 lottoDetailHeader oddsAmount">Average Payout*</div>
								</div>
								<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">5 main numbers + 2 Lucky Star numbers</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Jackpot</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€98,056,130.70</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">5 main numbers + 1 Lucky Star number</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Second Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€430,654.11</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">5 main numbers</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Third Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€26,158.22</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">4 main numbers + 2 Lucky Star numbers</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Fourth Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€1,325.42</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">4 main numbers + 1 Lucky Star number</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Fifth Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€120.36</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">3 main numbers + 2 Lucky Star numbers</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Sixth Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€58.68</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">4 main numbers</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Seventh Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€38.99</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">2 main numbers + 2 Lucky Star numbers</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Eighth Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€14.18</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">3 main numbers + 1 Lucky Star number</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Ninth Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€11.39</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">3 main numbers</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Tenth Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€9.33</div>
										</div>
									</div> 
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">1 main number + 2 Lucky Star numbers</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Eleventh Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€6.76</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">2 main numbers + 1 Lucky Star number</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Twelfth Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€5.63</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
											<div class="col-xs-6 col-sm-12">2 main numbers</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
											<div class="col-xs-6 col-sm-12">Thirteenth Prize</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€3.98</div>
										</div>
									</div>
								<p id="lotteryOddsNote">*based on 2022 results</p>
							</div>
						</div>
						<header>
							<span class="glyphicon glyphicon-triangle-bottom"></span>
							<div>Why Play?</div>
						</header>
						<div class="row">
							<p class="lottoDetailHeader">Play EuroMillions</p>
							<p>EuroMillions combines big jackpots with excellent prize-winning odds making it a lucrative choice to play. Choose 5 winning numbers plus 2 "Lucky Star" numbers to win prizes up to €230 Million!</p>
							<p class="lottoDetailHeader">Two Draws Per Week</p>
							<p>Feel the excitement of EuroMillions every Tuesday and Friday!</p>
							<p class="lottoDetailHeader">Fantastic Prize Odds</p>
							<p>Overall odds of winning any prize are better than 1 in 13!</p>
							<p class="lottoDetailHeader">Good Luck!</p>
							<p>Jackpots climb quickly and frequently reach over €100 Million!</p>
						</div>
					</section>
				</div>
			</div>
