<div id="lotteryPageCopy">
  <div class="lotteryPageCopy">
    <hr>
    <div class="col-xs-12 col-sm-12 col-md-12 lotteryPageCopyContent">
      <h2 class="pageHeading">Know more about Playing Irish Lotto Online</h2>

      <section>
        <div class="lotteryPageCopyImg">
          <img src="/resources/images/lotto-express-online-lottery-1.svg" alt="Can you play Irish Lotto Online?" width="105" height="91" />
        </div>
        <div class="lotteryPageCopyText">
          <h3 class="sub-heading">Can you play Irish Lotto Online?</h3>
          <p><img src="/resources/images/lotto-express-online-lottery-1.svg" class="lotteryPageCopyImgM" alt="Can you play Irish Lotto Online?" width="60" height="52" />Playing the Irish Lottery online couldn’t be easier! To play, you will need to select 6 main numbers between 1-47. You have the choice of picking the numbers yourself, or selecting Quick Pick to be randomly assigned a set of numbers for your lottery ticket. Playing the Irish lottery on line is exactly the same as walking into a shop to buy a ticket, simply without the hassle.</p>
          <p>Draws take place every Wednesday and Saturday at 20:00 GMT, with 6 numbers drawn plus 1 Bonus Ball which determines winners of some of the lower prize tiers. You are able to purchase tickets for one or both draws online at Lotto Express. The cut-off for ticket purchase for the Irish Lotto is 10 hours before the draw.</p>
        </div>
      </section>

      <section>
        <div class="lotteryPageCopyImg">
          <img src="/resources/images/lotto-express-online-lottery-2.svg" alt="Can you buy Irish Lotto tickets outside Ireland?" width="100" height="100" />
        </div>
        <div class="lotteryPageCopyText">
          <h3 class="sub-heading">Can you buy Irish Lotto tickets outside Ireland?</h3>
          <p><img src="/resources/images/lotto-express-online-lottery-2.svg" class="lotteryPageCopyImgM" alt="Can you buy Irish Lotto tickets outside Ireland?" width="57" height="57" />Definitely! You can play the Irish Lottery online from anywhere across the globe when you play with Lotto Express. It’s exactly the same as going out to a retailer and buying a lottery ticket in person, but without the hassle of leaving your home. There’s also no need to check your tickets, as Lotto Express checks the winning numbers against your ticket for you and notify you immediately if you have won a prize. You are able to use the Quick Pick feature for your lottery ticket numbers, or choose them yourself, just like you would at a retailer.</p>
        </div>
      </section>

      <section>
        <div class="lotteryPageCopyImg">
          <img src="/resources/images/lotto-express-online-lottery-3.svg" alt="How to claim your Irish Lotto prize?" width="105" height="68" />
        </div>
        <div class="lotteryPageCopyText">
          <h3 class="sub-heading">How to claim your Irish Lotto prize?</h3>
          <p><img src="/resources/images/lotto-express-online-lottery-3.svg" class="lotteryPageCopyImgM" alt="How to claim your Irish Lotto prize?" width="59" height="39" />You don’t need to check the Irish lottery winning numbers because Lotto Express does it all for you - making for an easy experience. When the winning numbers are drawn, Lotto Express checks these against your ticket and sends you an immediate notification if you’ve won - no matter the prize amount. Following this, and the official announcement of the winning numbers, your prize will be deposited into your account. No more checking lottery results or trying to find lost tickets, as Lotto Express makes everything simpler for you to play - wherever you are in the world.</p>
        </div>
      </section>

      <section>
        <div class="lotteryPageCopyImg">
          <img src="/resources/images/lotto-express-online-lottery-4.svg" alt="How can you be sure to receive the Irish Lotto prize?" width="82" height="105" />
        </div>
        <div class="lotteryPageCopyText">
          <h3 class="sub-heading">How can you be sure to receive the Irish Lotto prize?</h3>
          <p><img src="/resources/images/lotto-express-online-lottery-4.svg" class="lotteryPageCopyImgM" alt="How can you be sure to receive the Irish Lotto prize?" width="46" height="59" />Playing Irish Lotto online is extremely secure, and the perfect way to play if you want to play the lottery but you don’t live in Ireland. You are guaranteed to receive 100% of the prize that you win, as Lotto Express has no claim to your tickets (as per the <a class="tertiaryLink" href="/terms-and-conditions">Terms and Conditions</a>). Honesty is extremely important to Lotto Express, and that is why you will receive notification emails at every stage of the process. Security is paramount, and frequent system updates mean that your data is kept safe. You are guaranteed to receive 100% of the prize that you win when you play the Irish Lottery online with Lotto Express.</p>
        </div>
      </section>

      <section>
        <div class="lotteryPageCopyImg">
          <img src="/resources/images/lotto-express-online-lottery-5.svg" alt="How do you win the Irish Lotto Online?" width="100" height="100" />
        </div>
        <div class="lotteryPageCopyText">
          <h3 class="sub-heading">How do you win the Irish Lotto Online?</h3>
          <p><img src="/resources/images/lotto-express-online-lottery-5.svg" class="lotteryPageCopyImgM" alt="How do you win the Irish Lotto Online?" width="57" height="57" />To win the Irish Lotto jackpot prize, you must match all 6 numbers drawn to the numbers on your ticket. The numbers can be in any order. You can win a prize by only matching 2 of the 6 winning numbers - plus the Bonus Ball that is drawn from the remaining 41 numbers - to receive a prize. The more numbers you match, the more the value of your prize will increase. There are 8 different prize categories for the Irish Lottery.</p>
          <p>The Irish Lotto jackpot starts at €2 million and regularly climbs higher than €10 million. The prize fund is now capped at €19 million, where it can stay for a maximum of 5 draws. If the jackpot isn’t won on the 5th draw, the lottery becomes a ‘Will Be Won’ draw. This means that if there is no winner of the jackpot, the prize and excess rolls down and is allocated to the next prize tier where there is at least 1 winner.</p>
        </div>
      </section>

      <section>
        <div class="lotteryPageCopyImg">
          <img src="/resources/images/lotto-express-online-lottery-6.svg" alt="Why Play Irish Lotto with Lotto Express?" width="134" height="92" />
        </div>
        <div class="lotteryPageCopyText">
          <h3 class="sub-heading">Why Play Irish Lotto with Lotto Express?</h3>
          <p><img src="/resources/images/lotto-express-online-lottery-6.svg" class="lotteryPageCopyImgM" alt="Why Play Irish Lotto with Lotto Express?" width="76" height="52" />If you think you could have the luck of the Irish, then play the Irish Lotto on Lotto Express. You could be in with the chance of winning incredible jackpot prizes, not online from lotteries in Ireland, but from around the world. Play Irish Lotto today! It’s simple and secure and you could walk away a millionaire!</p>
        </div>
      </section>
    </div>
  </div>
</div>

