<div id="lotteryPageCopy">
		<div class="lotteryPageCopy">
			<hr>
			<div class="col-xs-12 col-sm-12 col-md-12 lotteryPageCopyContent">
				<h2 class="pageHeading">Know more about Playing EuroMillions Online</h2>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-1.svg" alt="Can you play EuroMillions Lotto Online?" width="105" height="91" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">Can you play EuroMillions Lotto Online?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-1.svg" class="lotteryPageCopyImgM" alt="Can you play EuroMillions Lotto Online?" width="60" height="52" />In short - yes! You can play EuroMillions online with Lotto Express and be in with the chance of winning huge jackpots. In order to play, you will need to pick 7 numbers from two separate pools of numbers. You will pick 5 different numbers from 1 to 50 plus 2 Lucky Star numbers from 1 to 12. When you play EuroMillions on Lotto Express, you can choose your own numbers or opt to use the QuickPick feature where numbers are chosen randomly for you. Playing online is exactly the same as buying your ticket from a shop in person, with the same odds of winning a prize.</p>
						<p>The EuroMillions draw takes place 2 days a week - Tuesday and Friday at 21:45 CET. Increase your chance of winning by playing in both draws.</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-2.svg" alt="Can you buy EuroMillions tickets outside Europe?" width="100" height="100" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">Can you buy EuroMillions tickets outside Europe?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-2.svg" class="lotteryPageCopyImgM" alt="Can you buy EuroMillions tickets outside Europe?" width="57" height="57" />Buying EuroMillions lottery tickets outside of Europe couldn’t be easier than with Lotto Express. By registering for a free account online, all of your details are securely saved so that you can play not only the EuroMillions, but some of the world’s largest lotteries from the comfort of your own home. When you buy a EuroMillions ticket online, your ticket is bought from an official retailer in a participating European country and added to your account. A confirmation of your ticket purchase is sent directly to your email, confirming your Quick Pick or chosen numbers as well as the date of the lottery draw that you have entered.</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-3.svg" alt="How to claim your EuroMillions prize?" width="105" height="68" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">How to claim your EuroMillions prize?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-3.svg" class="lotteryPageCopyImgM" alt="How to claim your EuroMillions prize?" width="59" height="39" />When you win a prize in the EuroMillions lottery, you’ll be immediately notified by Lotto Express! Gone are the days of checking lottery results or trying to find lost tickets, as Lotto Express makes everything simpler. Whatever the size of your winning prize, it will be deposited into your account after the results are published online and after receipt of the prize from the EuroMillions lottery. Claiming your prize is as easy as checking your email - literally!</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-4.svg" alt="How can you be sure to receive the EuroMillions Lotto prize?" width="82" height="105" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">How can you be sure to receive the EuroMillions Lotto prize?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-4.svg" class="lotteryPageCopyImgM" alt="How can you be sure to receive the EuroMillions Lotto prize?" width="46" height="59" />Lotto Express have the highest security standards in the industry so you can be sure that, when you buy a EuroMillions lottery ticket online, your purchase is 100% safe. Playing the lottery online is not only exciting, but it is secure. As per the <a class="tertiaryLink" href="/terms-and-conditions">Terms and Conditions</a>, Lotto Express has no claim to your winnings, so every Euro of your prize will be credited to your account.</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-5.svg" alt="How do you win the EuroMillions Lotto Online?" width="100" height="100" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">How do you win the EuroMillions Lotto Online?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-5.svg" class="lotteryPageCopyImgM" alt="How do you win the EuroMillions Lotto Online?" width="57" height="57" />The EuroMillions has an incredible 13 prize categories - giving you more chances to win. You win the EuroMillions jackpot if all 7 numbers on your ticket match the numbers drawn. The 5 main numbers plus the 2 Lucky Star numbers need to match in order to claim the jackpot prize, however, you can still win prizes if all of your numbers do not match. You can win a prize for matching just 2 numbers or more and culminate with the jackpot prize for matching all 7 numbers drawn.</p>
						<p>The EuroMillions has a minimum jackpot of €17,000,000 but can potentially rollover to incredible amounts! The largest jackpot ever won is €220 Million in October 2021. The EuroMillions jackpot is capped at €230 Million.</p>
					</div>
				</section>
				<section>
					<div class="lotteryPageCopyImg">
						<img src="/resources/images/lotto-express-online-lottery-6.svg" alt="Why Play EuroMillions Lotto with Lotto Express?" width="134" height="92" />
					</div>
					<div class="lotteryPageCopyText">
						<h3 class="sub-heading">Why Play EuroMillions Lotto with Lotto Express?</h3>
						<p><img src="/resources/images/lotto-express-online-lottery-6.svg" class="lotteryPageCopyImgM" alt="Why Play EuroMillions Lotto with Lotto Express?" width="76" height="52" />With 2 opportunities to win each week, playing EuroMillions online with Lotto Express is fun and secure. With frequent rollovers, jackpots can quickly climb, and often reach over €100,000,000. Lotto Express lets you choose which lotteries you want to play and how often. You can choose the highest jackpots, the highest odds or a combination of the two. Register today to play the EuroMillions online.</p>
					</div>
				</section>
			</div>
		</div>
	</div>
