<div class="col-xs-12 col-sm-12 col-md-12 lotteryDetails">
				<div class="col-xs-12 col-sm-5 col-md-5">
					<p class="pageHeading">Play French Lotto</p>
					<p>French Lotto combines big jackpots with excellent prize-winning odds making it a lucrative choice to play. Choose 5 winning numbers plus one "Lucky Number" to win prizes up to €30 million!</p>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-lg-3 about-us-side-image">
							<img src="/resources/images/Highlight1.svg" alt="" width="74" height="74" />
						</div>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<h3 class="sub-heading">Three Draws Per Week</h3>
							<p>Feel the excitement of French Lotto every Monday, Wednesday and Saturday!</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-lg-3 about-us-side-image">
							<img src="/resources/images/Highlight2.svg" alt="" width="74" height="74" />
						</div>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<h3 class="sub-heading">Fantastic Prize Odds</h3>
							<p>Overall odds of winning any prize are better than 1 in 6!</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-lg-3 about-us-side-image">
							<img src="/resources/images/Highlight3.svg" alt="" width="74" height="74" />
						</div>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<h3 class="sub-heading">Bonne Chance!</h3>
							<p>Jackpots climb quickly with up to 3 rollovers every week!</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-7">
					<section class="accordion">
						<header>
							<span class="glyphicon glyphicon-triangle-bottom"></span>
							<div>Quick Facts</div>
						</header>
						<div class="row">
							<p class="lottoDetailHeader">French Lotto Record Jackpot</p>
							<p>€30 million</p>
							<p class="lottoDetailHeader">Prizes</p>
							<p>10 lucrative prize categories</p>
							<p class="lottoDetailHeader">Draw Format</p>
							<p>5 winning numbers are drawn from a field of 1 to 49, and 1 "Lucky Number" from a separate field of 1 to 10. Separate raffle draws are held for 10 prizes of €20,000.</p>
							<p class="lottoDetailHeader">Draw Days</p>
							<p>Every Monday, Wednesday and Saturday at 21:30 CET</p>
							<p class="lottoDetailHeader">Cut-Off Time</p>
							<p>12 hours before draw to purchase a ticket</p>
						</div>
						<header>
							<span class="glyphicon glyphicon-triangle-bottom"></span>
							<div>10 Prize Categories</div>
						</header>
						<div class="row">
							<div class="col-xs-12 lotteryDetailOdds">
								<p>The table below details the different prize tiers and estimated prize returns based on average payouts.</p>
								<div class="row">
									<div class="col-xs-6 lottoDetailHeader">Prize Structure</div>
									<div class="col-xs-3 lottoDetailHeader">Prize Categories</div>
									<div class="col-xs-3 lottoDetailHeader oddsAmount">Average Payout*</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
										<div class="col-xs-6 col-sm-12">5 main numbers + Lucky number</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
										<div class="col-xs-6 col-sm-12">Jackpot</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
										<div class="col-xs-6 col-sm-12 oddsAmount">€6,657,142.91</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
										<div class="col-xs-6 col-sm-12">5 main numbers</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
										<div class="col-xs-6 col-sm-12">Second Prize</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
										<div class="col-xs-6 col-sm-12 oddsAmount">€77,900.17</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
										<div class="col-xs-6 col-sm-12">4 main numbers + Lucky number</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
										<div class="col-xs-6 col-sm-12">Third Prize</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
										<div class="col-xs-6 col-sm-12 oddsAmount">€1,759.47</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
										<div class="col-xs-6 col-sm-12">4 main numbers</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
										<div class="col-xs-6 col-sm-12">Fourth Prize</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
										<div class="col-xs-6 col-sm-12 oddsAmount">€410.22</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
										<div class="col-xs-6 col-sm-12">3 main numbers + Lucky number</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
										<div class="col-xs-6 col-sm-12">Fifth Prize</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
										<div class="col-xs-6 col-sm-12 oddsAmount">€50.55</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
										<div class="col-xs-6 col-sm-12">3 main numbers</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
										<div class="col-xs-6 col-sm-12">Sixth Prize</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
										<div class="col-xs-6 col-sm-12 oddsAmount">€20.35</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
										<div class="col-xs-6 col-sm-12">2 main numbers + Lucky number</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
										<div class="col-xs-6 col-sm-12">Seventh Prize</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
										<div class="col-xs-6 col-sm-12 oddsAmount">€9.97</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
										<div class="col-xs-6 col-sm-12">2 main numbers</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
										<div class="col-xs-6 col-sm-12">Eighth Prize</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
										<div class="col-xs-6 col-sm-12 oddsAmount">€4.40</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
										<div class="col-xs-6 col-sm-12">1 main number + Lucky number</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
										<div class="col-xs-6 col-sm-12">Ninth Prize</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
										<div class="col-xs-6 col-sm-12 oddsAmount">€2.20</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Structure</div>
										<div class="col-xs-6 col-sm-12">Lucky number only</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Prize Category</div>
										<div class="col-xs-6 col-sm-12">Tenth Prize</div>
									</div>
									<div class="col-xs-12 col-sm-3">
										<div class="col-xs-6 lotteryDetailOddsMobile">Average Payout*</div>
										<div class="col-xs-6 col-sm-12 oddsAmount">€2.20</div>
									</div>
								</div>
								<p id="lotteryOddsNote">* based on 2022 results</p>
							</div>
						</div>
						<header>
							<span class="glyphicon glyphicon-triangle-bottom"></span>
							<div>Why Play?</div>
						</header>
						<div class="row">
							<p class="lottoDetailHeader">Play French Lotto</p>
							<p>French Lotto combines big jackpots with excellent prize-winning odds making it a lucrative choice to play. Choose 5 winning numbers plus one "Lucky Number" to win prizes up to €30 million!</p>
							<p class="lottoDetailHeader">Three Draws Per Week</p>
							<p>Feel the excitement of French Lotto every Monday, Wednesday and Saturday!</p>
							<p class="lottoDetailHeader">Fantastic Prize Odds</p>
							<p>Overall odds of winning any prize are better than 1 in 6!</p>
							<p class="lottoDetailHeader">Bonne Chance!</p>
							<p>Jackpots climb quickly with up to 3 rollovers every week!</p>
						</div>
					</section>
				</div>
			</div>
