<div class="col-xs-12 col-sm-12 col-md-12 lotteryDetails">
				<div class="col-xs-12 col-sm-5 col-md-5">
					<p class="pageHeading">
						Play EuroJackpot
					</p>
					<p>
						EuroJackpot began in 2012 as a counterpart to the popular EuroMillions. Jackpots start at €10 million, roll frequently and can go up to €120 million!
					</p>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-lg-3 about-us-side-image">
							<img src="/resources/images/Highlight1.svg" alt="" width="74" height="74" />
						</div>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<h3 class="sub-heading">
								Draws Held Twice a Week
							</h3>
							<p>
								Play for enormous fortunes every Tuesday and Friday evening at 9 pm EET!
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-lg-3 about-us-side-image">
							<img src="/resources/images/Highlight2.svg" alt="" width="74" height="74" />
						</div>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<h3 class="sub-heading">
								Record Breaking Jackpots
							</h3>
							<p>
								Match 5 numbers and 2 "Euro numbers" to win the big jackpot!
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-lg-3 about-us-side-image">
							<img src="/resources/images/Highlight3.svg" alt="" width="74" height="74" />
						</div>
						<div class="col-xs-9 col-sm-9 col-lg-9">
							<h3 class="sub-heading">
								Good Luck!
							</h3>
							<p>
								Our team is here to help you get in on the game & not miss this chance at a life-changing win!
							</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-7">
					<section class="accordion">
						<header>
							<span class="glyphicon glyphicon-triangle-bottom"></span>
							<div>
								Quick Facts
							</div>
						</header>
						<div class="row">
							<p class="lottoDetailHeader">
								EuroJackpot Record Jackpot
							</p>
							<p>
								€120 Million was won on July 22, 2022 by a single lucky winner!
							</p>
							<p class="lottoDetailHeader">
								Prizes
							</p>
							<p>
								12 ways to win a prize, ranging from the Jackpot down to €8
							</p>
							<p class="lottoDetailHeader">
								Draw Format
							</p>
							<p>
								5 main numbers are drawn from a field of 1 to 50, and 2 “Euro Numbers” are drawn from a field of 1 to 12.
							</p>
							<p class="lottoDetailHeader">
								Draw Days
							</p>
							<p>
								Get in on the fun with draws taking place every Tuesday and Friday night in Helsinki, Finland at 9 pm EET
							</p>
							<p class="lottoDetailHeader">
								Cut-Off Time
							</p>
							<p>
								9 hours before draw to purchase a ticket
							</p>
						</div>
						<header>
							<span class="glyphicon glyphicon-triangle-bottom"></span>
							<div>
								12 Prize Categories
							</div>
						</header>
						<div class="row">
							<div class="col-xs-12 lotteryDetailOdds">
								<p>
									The table below details the different prize tiers and estimated prize returns based on average payouts.
								</p>
								<div class="row">
									<div class="col-xs-6 lottoDetailHeader">
										Prize Structure
									</div>
									<div class="col-xs-3 lottoDetailHeader">
										Prize Categories
									</div>
									<div class="col-xs-3 lottoDetailHeader oddsAmount">
										Average Payout*
									</div>
								</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Structure
											</div>
											<div class="col-xs-6 col-sm-12">
												5 main numbers + 2 Euro numbers
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Category
											</div>
											<div class="col-xs-6 col-sm-12">
												Jackpot
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Average Payout*
											</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€46,291,184.40</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Structure
											</div>
											<div class="col-xs-6 col-sm-12">
												5 main numbers + 1 Euro number
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Category
											</div>
											<div class="col-xs-6 col-sm-12">
												Second Prize
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Average Payout*
											</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€765,242.73</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Structure
											</div>
											<div class="col-xs-6 col-sm-12">
												5 main numbers
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Category
											</div>
											<div class="col-xs-6 col-sm-12">
												Third Prize
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Average Payout*
											</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€140,838.90</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Structure
											</div>
											<div class="col-xs-6 col-sm-12">
												4 main numbers + 2 Euro numbers
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Category
											</div>
											<div class="col-xs-6 col-sm-12">
												Fourth Prize
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Average Payout*
											</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€4,688.39</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Structure
											</div>
											<div class="col-xs-6 col-sm-12">
												4 main numbers + 1 Euro number
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Category
											</div>
											<div class="col-xs-6 col-sm-12">
												Fifth Prize
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Average Payout*
											</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€298.22</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Structure
											</div>
											<div class="col-xs-6 col-sm-12">
												3 main numbers + 2 Euro numbers
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Category
											</div>
											<div class="col-xs-6 col-sm-12">
												Sixth Prize
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Average Payout*
											</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€130.44</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Structure
											</div>
											<div class="col-xs-6 col-sm-12">
												4 main numbers
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Category
											</div>
											<div class="col-xs-6 col-sm-12">
												Seventh Prize
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Average Payout*
											</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€109.20</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Structure
											</div>
											<div class="col-xs-6 col-sm-12">
												2 main numbers + 2 Euro numbers
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Category
											</div>
											<div class="col-xs-6 col-sm-12">
												Eighth Prize
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Average Payout*
											</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€24.22</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6 ">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Structure
											</div>
											<div class="col-xs-6 col-sm-12">
												3 main numbers + 1 Euro number
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Category
											</div>
											<div class="col-xs-6 col-sm-12">
												Ninth Prize
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Average Payout*
											</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€19.66</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Structure
											</div>
											<div class="col-xs-6 col-sm-12">
												3 main numbers
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Category
											</div>
											<div class="col-xs-6 col-sm-12">
												Tenth Prize
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Average Payout*
											</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€17.18</div>
										</div>
									</div> 
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Structure
											</div>
											<div class="col-xs-6 col-sm-12">
												1 main number + 2 Euro numbers
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Category
											</div>
											<div class="col-xs-6 col-sm-12">
												Eleventh Prize
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Average Payout*
											</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€11.81</div>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-sm-6">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Structure
											</div>
											<div class="col-xs-6 col-sm-12">
												2 main numbers + 1 Euro number
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Prize Category
											</div>
											<div class="col-xs-6 col-sm-12">
												Twelfth Prize
											</div>
										</div>
										<div class="col-xs-12 col-sm-3">
											<div class="col-xs-6 lotteryDetailOddsMobile">
												Average Payout*
											</div>
											<div class="col-xs-6 col-sm-12 oddsAmount">€9.58</div>
										</div>
									</div>
								<p id="lotteryOddsNote">
									*based on 2022 results
								</p>
							</div>
						</div>
						<header>
							<span class="glyphicon glyphicon-triangle-bottom"></span>
							<div>
								Why Play?
							</div>
						</header>
						<div class="row">
							<p class="lottoDetailHeader">
								Play EuroJackpot
							</p>
							<p>
								For huge European jackpots, match just 5 main numbers and 2 “Euro numbers”... or you could win thousands of Euros in secondary prizes!
							</p>
							<p class="lottoDetailHeader">
								Two Draws Per Week
							</p>
							<p>
								Feel the excitement every Tuesday and Friday for a chance to win fabulous prizes!
							</p>
							<p class="lottoDetailHeader">
								Prize Odds
							</p>
							<p>
								Incredible 1 in 32 chance of winning any prize!
							</p>
							<p class="lottoDetailHeader">
								Good Luck!
							</p>
							<p>
								With hefty rollovers and lots of lucrative secondary prizes, wins really can be mega-sized!
							</p>
						</div>
					</section>
				</div>
			</div>
