{# The body of the About page, shared with the offer landing pages.
   A campaign lands strangers on /offer who have never heard of us, so the
   same copy has to be reachable without leaving the page and losing the play
   they have built. Kept here rather than pasted twice: the company details
   are a legal statement, and the version nobody is watching is the one that
   goes stale. The page heading is not included - each page titles itself. #}
<section>
  <p>
    Lotto Express is privately owned and operated by Ralseft Limited. The company is located in Cyprus. Ralseft Limited was established in 2018 and is operated by experienced professionals with extensive lottery knowledge and gaming experience. Lotto Express provides an online service carefully designed and created with lottery enthusiasts in mind, those who look for safety, security and the convenience to play internationally based lotteries any time they choose. We recognize that playing lotteries is a form of entertainment and thus make every effort to provide our members with the best overall gaming experience they&#39;ll find anywhere online.
  </p>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1 about-us-side-image">
      <img src="/resources/images/black-white-globe-131x132px.png" alt="" width="66" height="67" />
    </div>
    <div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">
      <h3 class="sub-heading">Access to the World&#39;s Biggest Jackpots</h3>
      <p>Lotto Express is a leading online service where you safely purchase your favourite international lotteries!</p>
      <p>With a wide selection of the world's most lucrative lotteries at your fingertips, as well as opportunities for single or syndicate plays, you have more options than ever when playing with us!</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1 about-us-side-image">
      <img src="/resources/images/lock-icon-131x132px.png" width="66" height="67" alt="" />
    </div>
    <div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">
      <h3 class="sub-heading">Safe, Reliable and Secure</h3>
      <p>Lotto Express is owned and operated by Ralseft Limited. Lotto Express is run by professionals with over 25 years of experience.</p>
      <p>Lotto Express provides the highest standards of protection in online gambling. When you register for an account, your information is encrypted by the industry-standard SSL (Secure Sockets Layer) technology.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1 about-us-side-image">
      <img src="/resources/images/chat-icon-131x132px.png" width="66" height="67" alt="" />
    </div>
    <div class="col-xs-12 col-sm-10 col-md-11 col-lg-11">
      <h3 class="sub-heading">Connect with Us</h3>
      <p>Need help or have questions? Drop us a line anytime, we would love to hear from you!</p>
      <p>
        You can contact us through our live chat tab, send us an email at
        <a class="tertiaryLink" href="mailto:info@lottoexpress.com">info@lottoexpress.com</a>
        or visit our Contact us page for more options.
      </p>
    </div>
  </div>
</section>
