{% extends "base.html" %}
{% block content %}
<div class="noSelect container lePages">
  <h1 class="pageHeading">Lotteries</h1>
  {% if games %}
    <div class="row">
      {% for g in games %}
        <div class="col-xs-12 col-sm-6 col-md-4" style="margin-bottom:20px;">
          <p class="sub-heading">{{ g.game_name }}</p>
          <p>{{ g.game_code }}</p>
          <a class="primaryFormButton linkAsButton centerLinkCopy" href="{{ url_for('play', game_code=g.game_code) }}">Play Now</a>
          <a class="secondaryFormButton linkAsButton centerLinkCopy" href="{{ url_for('results_game', game_code=g.game_code) }}">Results</a>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No games returned from CRM.</p>
  {% endif %}
</div>
{% endblock %}

