{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" id="lotteryFaqPage">
      <h1 class="pageHeading">Jackpots of the World Frequently Asked Questions</h1>
      <div>
        <p>Here are some of our most frequently asked questions. Don't hesitate to<a class="blueLink" href="/contact-us"> get in touch </a> if we haven't provided the answer you are looking for.</p>
      </div>
      <section class="accordion">
        <header>
          <span class="glyphicon glyphicon-chevron-down glyph-accordion"></span>
          <div>What is Jackpots of the World?</div>
        </header>
        <div>
          <p>Jackpots of the World is a premium online lottery betting service that lets you safely bet on the outcomes of the world&#39;s biggest jackpots.</p>
        </div>
        <header>
          <span class="glyphicon glyphicon-chevron-down glyph-accordion"></span>
          <div>Does Jackpots of the World run its own lotteries?</div>
        </header>
        <div>
          <p>No. Jackpots of the World acts as an online bookmaker that offers betting options on official national lotteries. All lotteries featured on our site are regulated and licensed by the governments of their respective countries. Jackpots of the World operates an insurance model which means that each bet someone makes is insured.</p>
        </div>
        <header>
          <span class="glyphicon glyphicon-chevron-down glyph-accordion"></span>
          <div>Who can play?</div>
        </header>
        <div>
          <p>Players must be 18 years of age or older. Please note that our services are not available to residents of the following countries: Afghanistan, American Samoa, Canada, China, Congo, Georgia, Guam, Guinea-Bissau, Lebanon, Liberia, Libya, Liechtenstein, Marshall Islands, Micronesia, Netherlands, Netherlands Antilles, Northern Mariana Islands, Nigeria, Palau, Puerto Rico, Singapore, Somalia, Switzerland, United States of America and the Virgin Islands (US).</p>
        </div>
        <header>
          <span class="glyphicon glyphicon-chevron-down glyph-accordion"></span>
          <div>What are the benefits of playing the lottery with Jackpots of the World?</div>
        </header>
        <div>
          <p>As a leading online lottery site, we are proud to offer the following benefits:</p>
          <ul>
            <li><strong>Unique Playing Options</strong> -- We offer a variety of syndicate options so you can enjoy easy group play for improved chances of winning!</li>
            <li><strong> Guaranteed Winnings </strong> -- To insure against your bet, we take out insurance as referred to above for larger wins. This means players always receive their winnings, directly into their account.</li>
            <li><strong> Safe &amp; Reliable </strong> -- Licensed and regulated by the UK Gambling Commission, Jackpots of the World provides the highest standards of protection in online gambling.</li>
          </ul>
        </div>
        <header>
          <span class="glyphicon glyphicon-chevron-down glyph-accordion"></span>
          <div>Will my information remain secure?</div>
        </header>
        <div>
          <p>Always. Jackpots of the World is committed to providing a secure online gaming environment for you. When you register for an account, your information is encrypted by the industry-standard SSL (Secure Sockets Layer) technology. Jackpots of the World will also ensure that your data remains protected in compliance with our Privacy Policy including GDPR compliance.</p>
        </div>
        <header>
          <span class="glyphicon glyphicon-chevron-down glyph-accordion"></span>
          <div>What are Lottery Syndicates?</div>
        </header>
        <div>
          <p>A Lottery Syndicate allows you to play multiple lines for a fraction of the cost for a given lottery or a number of lotteries. If any of the lines wins at any prize tier level, including the jackpot, you will then receive a share of the winnings.</p>
        </div>
        <header>
          <span class="glyphicon glyphicon-chevron-down glyph-accordion"></span>
          <div>How do Syndicates work?</div>
        </header>
        <div>
          <p>The larger the number of lines in the syndicate the higher your chances of winning. Each syndicate has a set number of shares. So, for instance, if you select a syndicate with 100 shares and then purchase 1 share and win a &pound;200m jackpot you will receive &pound;2m.</p>
        </div>
        <header>
          <span class="glyphicon glyphicon-chevron-down glyph-accordion"></span>
          <div>How to play with a Syndicate?</div>
        </header>
        <div>
          <p>Select the syndicate you wish to play on and then select how many shares you would like. Next click 'Add to Cart' to proceed to the cart and complete your order.</p>
        </div>
        <header>
          <span class="glyphicon glyphicon-chevron-down glyph-accordion"></span>
          <div>How much does it cost to play with a Syndicate?</div>
        </header>
        <div>
          <p>The price depends on the Syndicate you choose to play on and the number of shares you select.</p>
        </div>
        <header>
          <span class="glyphicon glyphicon-chevron-down glyph-accordion"></span>
          <div>How do I checkout and confirm my order?</div>
        </header>
        <div>
          <p>When you have added a play to your cart, you can check out by clicking on the 'PLAY NOW' button.</p>
        </div>
        <header>
          <span class="glyphicon glyphicon-chevron-down glyph-accordion"></span>
          <div>I have more questions. How do I contact Jackpots of the World?</div>
        </header>
        <div>
          <p>Our friendly customer service agents are always happy to help. You can reach them via live chat, telephone, skype, or email.</p>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}

