{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row lePages">
    <div id="signInFormContent">
      <h1 class="pageHeading">Forgot Password</h1>

      <form id="leForgotPasswordForm" method="post" action="{{ url_for('forgot_password_post') }}">
        <p class="formLabels">
          Email <span class="inputRequiredStar">*</span>
        </p>
        <input type="email" name="email" id="forgotPasswordEmail" class="required" placeholder="example@expl.com" required autofocus>

        <input type="submit" value="Send Reset Link" id="forgotPasswordSubmit">
      </form>

      <div id="notYetAMemberSection" style="margin-top:18px;">
        <a href="{{ url_for('login') }}" class="secondaryFormButton" style="display:block; width:100%; text-align:center;">Back to Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

