{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row lePages"> 
		<div class="col-xs-12 col-sm-12 col-md-12">
			<section>
				<div id="infoVerifyID" class="col-xs-12">
					<h1 class="pageHeading">IDENTITY VERIFICATION</h1>
					<p>We are required to verify every player's identity, age and address. Lotto Express uses a third-party automated verification service. If for any reason we are not able to verify your information, we will need you to send us either a photo of your driving licence (clearly showing your full name, date of birth and address), or, if you do not have a driving licence, a photo of your passport, along with a utility bill dated within the last three months.</p>
					<p class="sub-heading">Driving Licence</p>
					<p>Your driving licence must show your full name, date of birth, and home address. Your licence should be fully valid and up to date, with the expiry date clearly visible. Provisional driving licences are also acceptable.<br>
					The following fields are required:</p>
					<ul>
						<li>Full name</li>
						<li>Licence expiry date</li>
						<li>Date of birth</li>
						<li>Home address</li>
						<li>Country</li>
					</ul>
					<h2 class="pageHeading">OR, IF YOU DO NOT HAVE A DRIVING LICENCE:</h2>
					<p class="sub-heading">Passport and Utility Bill</p>
					<p class="infoVerifyIDBold">Passport</p>
					<p>Your passport must show your full name, date of birth and country of citizenship. Again, your passport must be fully valid and up to date, with the expiry date clearly visible.<br>
					The following fields are required:</p> 
					<ul>
						<li>Full name</li>
						<li>Passport expiry date</li>
						<li>Date of birth</li>
						<li>Country</li>
					</ul>
					<p class="infoVerifyIDBold" id="infoVerifyIDBill">Utility Bill</p> 
					<p>You may verify your home address with a utility bill, such as a gas, electricity or telephone bill. The bill may not be more than three months old, and should clearly show your name and home address. The following fields are required:</p>
					<ul>
						<li>Full name</li>
						<li>Date of issue (must be within the past 3 months)</li>
						<li>Home address</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</div>
{% endblock %}
