{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row lePages">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h1 class="pageHeading">Promotion Unavailable</h1>
      <p class="sub-heading">This promotion is not currently available.</p>
      {% if slug %}
        <p style="opacity:0.85;">Requested: <span class="text-mono">{{ slug }}</span></p>
      {% endif %}
      <p>
        Please view our current promotions list or browse lotteries.
      </p>
      <a class="linkAsButton" href="/lotteries/promotions">View Promotions</a>
      <a class="linkAsButton" href="/catalog" style="margin-left:10px;">Browse Lotteries</a>
    </div>
  </div>
</div>
{% endblock %}

