{% extends "base.html" %}
{% block content %}
	<div class="container">
		<div class="row lePages">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<h1 class="pageHeading">
					Responsible Gaming
				</h1>
				<hr />
				<section class="safe-play-section">
					<h3 class="sub-heading">
						Our Promise to You
					</h3>
					<p>
						At Lotto Express, we provide an online lottery service second to none because of our commitment to customer service, satisfaction and online security. Our promise to you means that you can enjoy playing your favourite lotteries online safely and securely.
					</p>
					<h3 class="sub-heading">
						Convenient Play
					</h3>
					<p>
						<ul>
							<li>
								All your lottery plays are processed in a timely manner, with prompt confirmation
							</li>
							<li>
								All your lottery plays and winnings are electronically verified
							</li>
							<li>
								We provide instant notification for large winnings
							</li>
							<li>
								If you win, we convert your winnings into your local currency, at no charge when applicable
							</li>
						</ul>
					</p>
					<h3 class="sub-heading">
						Transparent Dealings
					</h3>
					<p>
						Lotto Express is committed to a transparent, customer-centric approach in all our dealings. We ensure that you are always kept informed about your purchase and subsequent winnings with us.
					</p>
					<p>
						<ul>
							<li>
								We guarantee payouts for winnings
							</li>
							<li>
								When you win a lotto prize, you'll be notified immediately and your winnings will be deposited into your Lotto Express account
							</li>
							<li>
								You can withdraw your winnings from your Lotto Express account at your leisure
							</li>
							<li>
								We always provide prize breakdowns and winning lottery numbers for your review
							</li>
						</ul>
					</p>
					<h3 class="sub-heading">
						Fraud Prevention
					</h3> 
					<p>
						For your future protection, please keep the following security policies in mind:
					</p>
					<p>
						We will 
						<span class="textExtraBold">
							NEVER
						</span>
					</p>
					<p>
						<ul>
							<li>
								offer you a prize if you have not entered a lottery draw,
							</li>
							<li>
								ask for a fee (beyond your initial purchase payment) nor your credit or contact information in order for you to claim your winnings,
							</li>
							<li>
								email you without your express consent,
							</li>
							<li>
								ask you to send original documents to prove your identity, or
							</li>
							<li>
								instruct you to either conceal or make public your winnings - that is your choice and yours alone.
							</li>
						</ul>
					</p>
					<p>
						<h3 class="sub-heading">
							Responsible Gaming
						</h3>
					</p>
					<p class="textExtraBold">
						Moderation
					</p>
					<p>
						Lotto Express believes in playing in moderation. We entreat you to enjoy our lottery services responsibly and to always play within your means.</b>If you require support, you may use our self-exclusion facility to temporarily exclude yourself from our services for a period of 5 months, 1 year, 2 years, or 5 years. This can be activated by accessing your player account under "Self-Exclusion".
					</p>
					<p class="textExtraBold">
						Protecting Minors
					</p>
					<p>
						Please note that players must be 18 and above to legally play. While we have safeguards to ensure the safety of young people, please keep account information secure on all computers and electronic devices to which young people might have access.
					</p>
					<p class="textExtraBold">
						More Information
					</p>
					<p>
						For more information on responsible gambling and assistance, review <a class="tertiaryLink" href="terms-and-conditions.php">section 23 of our Terms and Conditions.</a> You can also contact our customer service team by visiting our <a class="tertiaryLink" href="contact-us.php">Contact Page.</a>
					</p>
				</section>
			</div>
		</div>
	</div>
{% endblock %}
