{% extends "base.html" %}
{% block content %}
<div class="noSelect container lePages">
  <h1 class="pageHeading">Email Verification</h1>
  {% if verify_success %}
    <p class="successCopy">{{ verify_message }}</p>
  {% else %}
    <p class="redText">{{ verify_message }}</p>
  {% endif %}
  {% if customer %}
    <p><a class="primaryFormButton linkAsButton centerLinkCopy" href="{{ url_for('account') }}">Go to Account</a></p>
  {% else %}
    <p><a class="primaryFormButton linkAsButton centerLinkCopy" href="{{ url_for('login') }}">Go to Login</a></p>
  {% endif %}
</div>
{% endblock %}
